################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AsyncAwaitLearn/obj
/AsyncAwaitLearn/bin
/.vs
